.cell {
  background-color: #c0c0c0;
  width: 2em;
  height: 2em;
  border: 0.125em solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
  user-select: none;
  box-sizing: border-box;
}

.revealed {
  background-color: #c0c0c0;
  border: 2px solid #808080;
}

.cell.number-1 {
  color: #0000ff;
}

.cell.number-2 {
  color: #008000;
}

.cell.number-3 {
  color: #ff0000;
}

.cell.number-4 {
  color: #000080;
}

.cell.number-5 {
  color: #800000;
}

.cell.number-6 {
  color: #008080;
}

.cell.number-7 {
  color: #000000;
}

.cell.number-8 {
  color: #808080;
}
